[data-bs-theme="dark"] {
  --bs-body-bg: #121212;
  --bs-body-color: #f5f5f5;
  --gradient-start: #0b1013;
  --gradient-end: #372c3a;

}

[data-bs-theme="light"] {
  --bs-body-bg: #ffffff;
  --bs-body-color: #212529;
  --gradient-start: #346366;
  --gradient-end: #13335f;
}

@keyframes gradientMove {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}